.startScreen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.buttonBase {
  padding: 10px;
  margin-bottom: .25em;
  border: 0;
  border-bottom: solid 5px;
  border-bottom-color: rgba(0, 0, 0, .2);

  color: #fff;

  font-family: 'Space Mono', monospace;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;

  cursor: pointer;
  transition: .2s;
}

.buttonBase:active {
  transform: scale(1.1);
}

.buttonBase:focus {
  outline: 0; /* visual changes made in subclasses */
}

.openFile {
  composes: buttonBase;
  background-color: #BBBCC7;
}

.openFile:hover {
  background-color: #b3b4be;
}

.openFile:focus {
  background-color: #adaeb6;
}

.newFile {
  composes: buttonBase;
  background-color: #008cba;
}

.newFile:hover {
  background-color: #0a85ad;
}

.newFile:focus {
  background-color: #0881a8;
}
