.printLayout {
  table-layout: fixed;
}

.pageFooter, .pageHeader {
  width: 100%;
  font-size: 12px;
}

.pageHeaderContent {
  height: 50px;
  vertical-align: baseline;
}

.pageHeaderContent > td {
  width: 33.33%;
}
.pageHeaderContent .left { text-align: left; }
.pageHeaderContent .middle { text-align: center; }
.pageHeaderContent .right { text-align: right; }

.pageFooter {
  position: fixed;
  bottom: 5px;
  left: 0;
}

.pageFooterContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  letter-spacing: 5px;
  text-transform: uppercase;
}
