.frontPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  break-after: page;
}

.title {
  margin: 0;
  margin-top: 2em;
  font-size: 2em;
}

.date {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.section {
  margin-top: 1.5em;
  width: 100%;
  text-align: left;
  letter-spacing: 1.5px;
  break-inside: avoid;
}

.sectionTitle {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.fieldWrapper {
  width: 100%;
  /* Indent wrapping lines */
  text-indent: -1em;
  padding-left: 1em;
}

.fieldLabel {
  margin: 0;
  font-weight: 400;
  color: #818395;
}

.fieldLabel::after {
  content: ": "
}
