.printCardWrapper {
  display: flex;
  justify-content: center;
  break-inside: avoid-page;
  counter-increment: act;
}

.printCard {
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0.75em;
  overflow-wrap: break-word;
}

.printCard td:nth-child(1) { width: 10%; }
.printCard td:nth-child(2) { width: 55%; }
.printCard td:nth-child(3) { width: 20%; }
.printCard td:nth-child(4) { width: 15%; }

.printCard td, .printCard tr {
  border: 1px solid #000;
}

.printCard tr {
  height: 100px;
}

.printCard td {
  padding: 10px;
  vertical-align: top;
}

.printCard .topRow { height: 20px; }

.printCard .topRow td {
  padding: 0;
  border: 0;
  text-align: center;
}

.printCard .id {
  text-align: center;
  vertical-align: middle;
  font-size: 1.75em;
}

.printCard .id::after {
  content: counter(act);
}

.title {
  font-size: 1.75em;
}

.description {
  font-size: 0.75rem;
  vertical-align: top;
}
