.enter, .appear {
  animation: slideIn .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.leave {
  animation: slideIn .3s cubic-bezier(0.445, 0.05, 0.55, 0.95) reverse;
}


@keyframes slideIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
