.logo {
  margin: 0;
  margin-bottom: .25em;
}

.bigLogo {
  composes: logo;
  font-size: 4em;
}

.headerLogo {
  composes: logo;
  font-size: 1.5em;
}

.logoWrapper {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
}

@media print {
  .logoWrapper {
    display: none !important;
  }
}

/* Targets the wrapping element of <ReactCSSTransitionGroup /> */
.logoWrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
